* {
    /* outline: 1px solid red; */
}
.vh-100 {
    height: 100vh;
}

.search {
    outline: 1px solid black;
}
.search-input {
    width: 100%;
    height: auto;
    border-bottom: 2px solid grey;
    margin: 1px;
    padding: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    gap: 5px;
}
.search-input h2 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.search-text {
    width: 85%;
    height:fit-content;
    border-radius: 5px;
}
.btn {
    width: 85%;
    border-radius: 5px;
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    gap: 5px;
}
.search-history {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-history button {
    margin: 2px;
    width:85%;
}
.weather {
    outline: 1px solid black;
}

.forecast-card {
    margin: 5px;
    border: 1px solid black;
    padding: 2px;
    color: white;
    text-align: left;
}

.bold {
    font-weight: bold;
}
